<div class="container" style="padding: 30px;background-color: bisque;">
  <div class="jumbotron">
    <h2 style="text-align: center;">Angular CRUD Application</h2>
  </div>
  <app-employee></app-employee>
  <!-- <div class="row" style="background: aliceblue; padding: 20px;">
    <div class="col-md-6">
      <app-employees></app-employees>
    </div>
    <div class="col-md-6">
      <app-employee-list></app-employee-list>
    </div> 

  </div> -->

</div>


<!-- <div style="text-align: center;">
  <h1>

  </h1>
</div>
<h2>List of employee</h2>
<h4>
  <div *ngFor="let emp of allEmployee">
    {{emp.id}}
    {{emp.name}}
    {{emp.address}}
  </div>
</h4>
<br>
<hr>
<h2>Single Employee</h2>
{{emp.id}}-{{emp.name}}-{{emp.address}}
<br>
<hr>
<h2>
  List of const employee
</h2>
<h4>
  <div *ngFor="let emp of allEmployeeConst">
    {{emp.id}}
    {{emp.name}}
    {{emp.address}}
  </div>
</h4> -->